body {
    background-color: rgb(17, 20, 61);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.bold {
    color: rgb(42, 153, 120);
    font-weight: bolder;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
    color: white;
}

.pw {
    background-color: rgb(40, 172, 196);
    width: 150px;
    height: 20px;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
    margin: 4px auto;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-align: center;
}


button {
    color: white;
    background-color: rgb(42, 153, 120);
    border-radius: 6px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    border: none;
    margin: auto;
}

button:hover {
    background-color: rgb(96, 189, 161);
}

.generator {
    width: 350px;
    border: 15px solid rgb(212, 245, 238);
    padding: 50px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 0 12px;
}